h1 {
  position: relative;
  left: 80px;
}

h3 {
  position: relative;
  left: 80px;
}

h4 {
  position: relative;
  left: 80px;
}

p {
  position: relative;
  width: 87%;
  left: 80px;
  text-align: left;
  font-size: 110%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}